.admin-scroll {
  min-height: 100vh;
  overflow-y: auto;
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 100px;
  background: transparent;
  font-family: inherit;
}

.admin-scroll {
  scrollbar-width: thin;
  scrollbar-color: #444 #222;
}
.admin-scroll::-webkit-scrollbar {
  width: 10px;
  background: #222;
}
.admin-scroll::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 6px;
}
.admin-scroll::-webkit-scrollbar-thumb:hover {
  background: #666;
}
.admin-scroll::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
